<h1 class="text-primary text-center my-4">
    datos de los productos</h1>
<table class="table table-striped table-bordered container">
    <thead  class="thead-dark">
        <tr class="table-dark">
            <th scope="col">id</th>
            <th scope="col">codigo</th>
            <th scope="col">descripcion</th>
            <th scope="col">precio de compra</th>
            <th scope="col">precio de venta</th>
            <th scope="col">ganancia</th>
            <th scope="col">existencia</th>
            <th scope="col">editar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of datos;let index=index">
            <th scope="row">{{index}}</th>
            <th>{{item.codigo}}</th>
            <th>{{item.descripcion}}</th>
            <th>{{item.precioC}}</th>
            <th>{{item.precioV}}</th>
            <th>{{item.gananacia}}</th>
            <th>{{item.existencia}}</th>
            <th class="text-center"> 
                <a routerLink="/detalles/{{item.codigo}}">
                    <button class="btn btn-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                    </button> 
                </a>
            </th>
        </tr>
    </tbody>
</table>